*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 6rem;
    transition: background .4s linear;
}
body.dark{
    background-color: #000;
}
body.dark p{
    color: #ffffff;
}

/* container */
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 12rem;
}

/* label */
label{
    display: flex;
    flex-direction: row;
    width: 60px;
    height: 30px;
    background-color: gray;
    border-radius: 50px;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    transition: all .4s ease-in-out;
    cursor: pointer;
}
.checkbox{
    position: absolute;
    opacity: 0;
}

p{
    margin-top: 4rem;
}
.sun, .moon{
    /* position: absolute; */
    width: 1.2rem;
    margin-left: .2rem;
}
.sun{
    color: #ffffff;
}
.moon{
    color: #e79727;
}
.ball{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ffffff;
    border-radius: 50%;
    transition: all .4s ease-in-out;

}
.ball.active{
    margin-left: 28px;
}