*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sr-only{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
.nav-button{
    box-sizing: content-box;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    width: 25px;
    height: 14px;
    cursor: pointer;
    color: #000000;
}
.nav-button::before,
.nav-button::after{
    content: '';
    display: block;
    height: 2px;
    background-color: currentColor;
    transform: translateY(5px);
    transition: all .4s ease-in-out;
}
.nav-button::before{
    transform: translateY(-5px);
    box-shadow: 0 6px currentColor;
}

/* close Navigation */

.nav-button.active{
    z-index: 10px;
    color: #000000;
}

.nav-button.active::before{
    transform: translateY(1px) rotate(45deg);
    box-shadow: none;
}

.nav-button.active::after{
    transform: translateY(-1px) rotate(-45deg);
}